@model IEnumerable<MyRestaurant.Models.Table>

@{
    ViewBag.Title = "Tables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tables</h2>

<p>@Html.ActionLink("New Table", "New", "Tables", new { @class = "btn btn-primary" }, null)</p>

@if (!Model.Any())
{
    <p>There is no tables in Restaurant app.</p>
}
else
{


    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Number Of Seats</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var table in Model)
            {
                <tr>
                    <td>@table.Name</td>
                    <td>@table.NumberOfSeats</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = table.Id }, null) |
                        @Html.ActionLink("Details", "Details", new { id = table.Id }, null) |
                        @Html.ActionLink("Delete", "Delete", new { id = table.Id }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

